<script>
    import EasyBar from '$lib/EasyBar.svelte'
    import PracticeBar from '$lib/PracticeBar.svelte'
    import KeySignatures from '$lib/data/KeySignatures.js'
    import a440 from '$lib/data/note-frequencies-A440.json'
    import bassGuitar from '$lib/data/instruments/guitar-bass-standard-tuning.json'

    import { onMount } from 'svelte';
    import { 
        Flow,
        Font, 
        Formatter, 
        Renderer, 
        Stave, 
        StaveNote, 
        TextNote,
    } from "vexflow";

    let flashcardMode = false
    let flashcardTimeout

    
    let key = KeySignatures.random()

    let container
    const staveHeight = 500
    const staveWidth = 160
    let note = key.root

    const lowIndex = a440.findIndex(note => note.name === bassGuitar.range.low)
    const highIndex = a440.findIndex(note => note.name === bassGuitar.range.high)

    const playableNotes = a440
        // restrict range of notes to those playable by the instrument
        .slice(lowIndex, highIndex + 1)
        // only include notes valid in this key
        .filter(note => key.pitches.includes(note.pitch))


    // convert remaining valid notes to vexflow's format
    // const csv = playableNotes    
    //     .map(note => note.vexflow.replace('/', '')).join(', ')


    const drawBar = (context, clef) => {
        const measure = new Stave(0, 0, staveWidth);

        measure.addClef(clef)
        measure.setContext(context).draw()
    }

    const drawBaseBar = (context) => {
        return drawBar(context, "bass")
    }

    const toggleFlashcardMove = (e) => {
        flashcardMode = !flashcardMode

        if(flashcardMode) {
            flashcardTimeout = setTimeout(tick, 4000)
        } else if(flashcardTimeout){
            clearTimeout(flashcardTimeout)
            flashcardTimeout = undefined
        }
    }

    const tick = () => {
        key = KeySignatures.random()
        note = key.root

        renderThingVexflow()
        flashcardTimeout = setTimeout(tick, 4000)
    }

    const measures = playableNotes.reduce(
        (resultArray, item, index) => {
            const chunkIndex = Math.floor(index / 4)
            if(!resultArray[chunkIndex]) {
                resultArray[chunkIndex] = []
            }
            resultArray[chunkIndex].push(item)
            return resultArray
        }, 
        []
    )

    console.log("measures", measures, measures[0])
</script>

<svelte:head>
    <title>Practice bass guitar (standard tuning) in the key of {key.name}</title> 
</svelte:head>

<h1>Practice bass guitar (standard tuning) in the key of {key.name}</h1>

<!-- <div>
    <input 
        type=checkbox 
        checked={flashcardMode} 
        id="toggleFlashcard"

        on:click={toggleFlashcardMove}
    >
    <label for="toggleFlashcard">Flashcard Mode</label>
</div> -->


<div class="score">
    <div class="practiceBar">
        <PracticeBar
            first
            key={key}
        />
    </div>
    
{#each measures as measure, index}
    <div class="practiceBar">
        <PracticeBar
            index={index + 1}
            key={key}
            measure={measure}
        />
    </div>
{/each}

    <!-- <div class="practiceBar">
        <PracticeBar
            index={1}
            key={key}
            measure={measures[1]}
        />
    </div> -->

</div>

<style>
    h1 {
        line-height: 1em;
    }

    .practiceBar {
        padding: 0px;
        margin: 0px;
        width: 180px;
        

        /* border: 1px solid pink; */
    }

    .score {
        width: 900px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 200px;
    }
</style>