<script>
    export let active = false
    export let barIndex = 0
    export let beatCount = 1
    export let sectionIndex = 1

    export let note

    import NoteConverters from '$lib/NoteConverters.js'

    import { onMount } from 'svelte';
    import { 
        Annotation, 

        Beam, 
        Font,
        Formatter, 
        Renderer,
        Stave, 
        StaveNote, 
        TextNote,
    } from "vexflow";

    let container

    onMount(() => {
        bootstrap()
    })

    let activeBar
    $: {
        // activeBar = beatCount % 4
        // console.log("BAR UPDATED", sectionIndex, beatCount, activeBar, beatCount / 4)

        // console.log("ACTIVE? bar index, active", barIndex, active)
    }

    const duration = "w"
    const staveHeight = 140
    const staveWidth = 160

    const drawBassMeasure = (context) => {
        const bassMeasure = new Stave(0, staveHeight, staveWidth);
        bassMeasure.setContext(context).draw()
        
        keys = [`${note}/4`]

        const bassNoteMeasure = [
            new StaveNote({ keys, duration })
        ]
        bassMeasure.setContext(context).draw()

        Formatter.FormatAndDraw(context, bassMeasure, bassNoteMeasure); 
    }

    const annotation = (text) => {
        return new Annotation(text)
            .setFont(Font.SERIF)
            .setVerticalJustification(Annotation.VerticalJustify.BOTTOM)
            .setJustification(Annotation.HorizontalJustify.CENTER)
    }

    const bootstrap = () => {
        const renderer = new Renderer(container, Renderer.Backends.SVG);

        // Configure the rendering context.
        renderer.resize(staveWidth + 1, staveHeight);
        const context = renderer.getContext();

        const trebleMeasure = new Stave(0, 0, staveWidth);
        trebleMeasure.setContext(context).draw()
        
        let keys = [
            `${note}/4`,
            // NoteConverters.addNumeralToNote(note, "III") + '/5',
            // NoteConverters.addNumeralToNote(note, "V") + '/4'
        ]

        const trebleNoteMeasure = [
            new StaveNote({ keys, duration })
        ]
        Formatter.FormatAndDraw(context, trebleMeasure, trebleNoteMeasure);        

        const labelMeasure = new Stave(0, 0, staveWidth);
        labelMeasure.setContext(context).draw()

        const text = `${note[0].toUpperCase()}${note.slice(1)}`
        const textNote = new TextNote({
            text,
            duration,
        })
        textNote.setFont({ family: Font.SERIF, size: 15 })
        textNote.setLine(11)

        const noteLabelMeasure = [
            textNote
        ]
        Formatter.FormatAndDraw(context, labelMeasure, noteLabelMeasure);

        // drawBassMeasure(context) // see FirstBar for notes
	};

    const style = "" // "text-align:right" + (active ? ";background:yellow" : "")
</script>

<div bind:this={container}  {style}/>
