<script>
    export let first = false
    export let index = 0
    export let key
    export let measure

    const id = `easyBarContainer${index}`
    
    
    import { onMount } from 'svelte'

    import { 
        Flow,
        // Font, 
        // Formatter, 
        // Renderer, 
        // Stave, 
        // StaveNote, 
        // TextNote,
    } from "vexflow";


    onMount(() => {
        renderThing() 
    })

    const renderThing = () => {
        var vf = new Flow.Factory({renderer: {
            elementId: id
        }})

        var score = vf.EasyScore();
        var system = vf.System();

        if(first) {
            console.log("FIRST KEY", key)
            system.addStave({voices:[]}).addClef('treble').addTimeSignature('4/4').addKeySignature(key.vexflow())
            system.addStave({voices:[]}).addClef('bass').addTimeSignature('4/4').addKeySignature(key.vexflow())
            system.addConnector()
        } else {
            // const csv = measure.map(note => note.vexflow.replace('/', '')).join('/q, ') + '/q'

            // const treble = {voices: []}
            // system.addStave({
            //     voices: [
            //     ]
            // })

            // system.addStave({
            //     voices: [
            //         score.voice(score.notes(csv, {clef: 'bass', stem: 'up'})),
            //     ]
            // })
        }

        vf.draw();
    }
</script>

<div id={id} />