<script>
    export let bpm = ""
    export let clef = ""
    export let keySignature = ""
    export let label = ""
    export let timeSignature = ""

    import { onMount } from 'svelte';
    import { 
        Beam, 
        Font, 
        Formatter, 
        Modifier,
        Renderer, 
        Stave, 
        StaveConnector, 
        StaveNote, 
        TextNote,
    } from "vexflow";
    
    let container

console.log("FIRSTBAR KEYSIG", keySignature)


    // If rendering the connector, more width is required. Add this offset to the width
    // const connectorOffset = 30
    const duration = 'w'
    const staveHeight = 140
    const staveWidth = 160

    const drawBassClef = (context) => {
        const bassMeasure = new Stave(20, staveHeight, staveWidth)
        bassMeasure.addClef("bass")
        bassMeasure.setContext(context).draw()

        new StaveConnector(
            trebleMeasure,
            bassMeasure
        ).setType(
            StaveConnector.type.BRACE
        ).setContext(context).draw()

        new StaveConnector(
            trebleMeasure,
            bassMeasure
        ).setType(
            StaveConnector.type.SINGLE
        ).setContext(context).draw()
    }

    const bootstrap = () => {

        const renderer = new Renderer(container, Renderer.Backends.SVG)

        renderer.resize(staveWidth, staveHeight)
        const context = renderer.getContext()

        // I have these in variables to make it easy to swap them
        const labelMeasureText = (bpm === '') ? '' : `${bpm} bpm`
        const trebleMeasureText = label
console.log('wtf', timeSignature)
        // Prepare the measure - increase x value if drawing a connector
        const trebleMeasure = new Stave(0, 0, staveWidth)
        trebleMeasure.addClef(clef)
        trebleMeasure.addTimeSignature(timeSignature)
        trebleMeasure.addKeySignature(keySignature)
        trebleMeasure.setText(trebleMeasureText, Modifier.Position.ABOVE, {shift_y:10});

        trebleMeasure.setContext(context).draw()

        // Commented because there's a variety of challenges with rendering the bass clef, notes on them,
        // connections between the staves, things like that. It is either that I don't understand the tooling
        // well enough, or that the tooling is not right for my needs. At this time I don't so much mind. 
        // 20240110 2236 adding - the bass stuff doesn't work because I need to specify the clef with the note
        // --- see routes/key/+page.svelte (as of this writing; perhaps moved into a component by time of reading)
        // drawBassClef(context)
    
        const labelMeasure = new Stave(0, 0, staveWidth);
        labelMeasure.setContext(context).draw()
        const labelTextNote = new TextNote({
            text: labelMeasureText,
            duration,
        })
        labelTextNote.setFont({ family: Font.SERIF, size: 15 })
        labelTextNote.setLine(11)

        const noteLabelMeasure = [
            labelTextNote
        ]
        Formatter.FormatAndDraw(context, labelMeasure, noteLabelMeasure);
	};

    onMount(() => {
        bootstrap()
    })
</script>

<div>
    <div 
        bind:this={container} 
        class="first bar" 
    />
</div>