<script>
    export let measures = []
    import EasyBar from '$lib/EasyBar.svelte'
</script>

<div class="score">
    {#each measures as measure, index}
        <div class="easyBar">
            <EasyBar
    
                measure={measure}
            />
            a
        </div>
    {/each}
    </div>