<script>
    export let barCount = 1
    export let beatCount = 1
    export let sections

    import Bar from '$lib/Bar.svelte'
    import FirstBar from '$lib/FirstBar.svelte'
    import Section from '$lib/Section.svelte'

    import { onMount } from 'svelte';
    import { Stave, StaveNote, Beam, Formatter, Renderer } from "vexflow";

    let score

    let previousBpm = -1
    let foos = sections.map(section => {
        section.showBpm = section.bpm !== previousBpm
        previousBpm = section.bpm

        return section.showBpm
    });

    function offsetForSectionIndex(sectionIndex) {
        if(sectionIndex === 1) return 0

        let offset = 0
        for(let tallyIndex = 0; tallyIndex < sectionIndex; tallyIndex++) {
            offset += sections[tallyIndex].barCount
        }

        return offset
    }
</script>

<div id="score">
    {#each sections as section, index}
        <Section 
            {barCount}
            {beatCount}
            sectionIndex={index + 1}
            {section}
            showBpm={foos[index]}
            offset={offsetForSectionIndex(index + 1)}
        />
    {/each}
</div>

<style>
#score {
    display: grid;
    grid-template-columns: 160px 160px 160px 160px 160px;
}
</style>