<script>
    export let barCount = 1
    export let beatCount = 1
    export let offset = 0
    export let sectionIndex = 1
    export let section
    export let showBpm = false

    import Bar from '$lib/Bar.svelte'
    import FirstBar from '$lib/FirstBar.svelte'
    import Section from '$lib/Section.js'

    let label
    switch(section.type) {
        case Section.TYPE_INTRO:
            label = 'Intro'
            break

        case Section.TYPE_VERSE:
            label = 'Verse'
            break

        case Section.TYPE_PRECHORUS:
            label = 'Prechorus'
            break

        case Section.TYPE_CHORUS:
            label = 'Chorus'
            break

        case Section.TYPE_POSTCHORUS:
            label = 'Postchorus'
            break

        case Section.TYPE_BRIDGE:
            label = 'Bridge'
            break

        case Section.TYPE_OUTRO:
            label = 'Outro'
            break

    }

    const bpm = showBpm ? section.bpm : ""

    $: {
        // activeBar = beatCount % 4
        // console.log("BAR UPDATED", sectionIndex, beatCount, activeBar, beatCount / 4)

        // console.log("section tick", barCount, beatCount, sectionIndex, sectionIndex * barCount)
    }

    function foo(a, b, c, d) {
        // console.log("foo", a, b, c, d, offset)
    }

    console.log("Section making firstbar with keysig", section.keySignature.pitches[0])
</script>

<FirstBar
    {bpm}
    clef="treble"
    keySignature={section.keySignature.pitches[0]}
    {label}
    timeSignature={section.timeSignature.signature}
/>

{#each section.notes as note, barIndex}
    <Bar 
        active= {(barIndex * sectionIndex) === barCount}
        {barIndex}
        {beatCount}
        {sectionIndex}
        {note}
    />
{/each}