<script>
    // Default to timestamp-based seed
    export let seed = Date.now()
    export let how = ""

    import Song from '$lib/Song.js'
    import Score from '$lib/Score.svelte'
    
    const song = new Song(seed)

    let progressionInfo = ""
    if(song.progression.name !== song.progression.numerals) {
        
        progressionInfo = `(${song.progression.name})`
    }

    let barCount = 0
    let beatCount = 0
    let interval

    // #region - metronome
    // metronome still under development so feature flag it
    let featureMetronome = false
    let metronome
    let metronomeActive = false
    function toggleMetronome(event) {
        metronomeActive = !metronomeActive

        
        if(metronomeActive) {
            beatCount = 0
            let millisecondsPerBeat = 60000 / song.bpm
            interval = setInterval(() => {
                metronomeTick()
            }, millisecondsPerBeat );
        } else {
            clearInterval(interval)
        }
    }

    function metronomeTick() {
        beatCount++
        
        barCount += (beatCount % 4 === 1) ? 1 : 0

        console.log("tick", beatCount, beatCount % 4, barCount)
    }
    // #endregion - metronome

</script>

<div class="container">
    <div class="about" id="about">
        <p>
            Jam With Us is made by <a href="http://rob.drimmie.net">Rob Drimmie</a>.
        </p>
        <p>
            I built this as a practice tool. My hope is that it acts as a tool with which I can learn 
            my instruments better, maybe learn a little bit about song writing, improve my theory and maybe
            explore a new form of collaboration with others. 
        </p>
        <p>
            So, the idea is like you can load the page and be prompted with a song structure in which to play. 
            In the very long term I think it would be neat for strangers to record and share the songs they create
            in this structure. My absolutely unproven theory is that most music made in this structure will 
            be compatible and therefore can be mixed together. 
        </p>
        <p>
            Any song can be loaded using its seed. The seed for this song is <a 
                href="http://robsdreamco.com/jam-with-us/?seed={song.seed}">{song.seed}</a>. You 
            can <a href="http://robsdreamco.com/jam-with-us/?seed">generate a random song</a> as well.
        </p>
        <p>
            <b>!! NOTE !!</b> The algorithm is in its earliest stages and is absolutely going to change. Right now 
            the picking and choosing of each structure is random, based on weighted values biased towards what I 
            think might be good. I don't know very much though, so my good might objectively be bad, and so as I 
            discover the full truth of that potential, 
            <strong>how sections are generated will change, without additional warning</strong>
            .
        </p>
        <p>
            This means that the song generated for a given seed today is <b>not guaranteed</b> to be the song 
            generated for it tomorrow. If you want to be confident you can revisit this specific structure, 
            please make a copy of it by saving or printing the page.
        </p>
    </div>

    <div class="jam">
        <b>Jam With Us {how}</b>
        <br />
        Let's play in the key of <b>{song.keySignature.name}</b>
        <br />
        ... in <b>{song.timeSignature.pitch}</b> time
        <br />
        ... at <b>{song.bpm}</b> bpm (<em>{song.tempo.name}</em>)
        <br />
        ... with a <b>{song.progression.numerals}</b> chord progression {progressionInfo}
        <br />
        ... in a <b>{song.structure}</b> structure

        <small>
            <p>
                The Jam's code is Copyright 2023 <a href="http://rob.drimmie.net">Robert M. Drimmie</a>, 
                <a href="https://codeberg.org/rmd/the-jam">available on codeberg</a>, and is released 
                under the MIT license. <a href="#about">Learn more about The Jam.</a>
            </p>
            <p>
                The score shows the root note of in the progression through each of the song's sections,
                and how times to cycle through the progression in each section. 
            </p>
        </small>

        {#if featureMetronome}
            <div 
                bind:this={metronome}
                class="metronome"  
                on:click={toggleMetronome} 
                on:keypress={toggleMetronome} 
                role="button" 
                tabindex=0
                aria-roledescription="Toggle the metronome on or off"
            >

                click to {#if metronomeActive} stop {:else } start {/if} metronome
            </div>
        {/if}
    </div>

    <div class="score" id="score">
        <Score 
            {barCount}
            {beatCount}
            sections={song.sections}
        />
    </div>
</div>

<style>
.container {
    display: grid;
    grid-template-areas: 
        "jam    about"
        "score   score";

    grid-template-areas: 
        "jam"
        "score"
        "about";
}

.jam {
    grid-area: jam;
}

.about {
    grid-area: about;
}

.score {
    grid-area: score;
    /* margin-top: .5em; */
}

.metronome {
    border: 1px solid black;
}
</style>