<script>
    import DateFormatter from '$lib/DateFormatter'
    import TheJam from '$lib/TheJam.svelte'

    let how = ""
    let seed = ""

    const urlParams = new URLSearchParams(window.location.search);

    if(urlParams.has('seed')) {
        let seedParam = urlParams.get('seed')

        if(seedParam === '') {
            how = "at Random!"

        } else {
            how = `for seed ${seedParam}`
            seed = seedParam
        }
    } else {
        const version = `v0-0-1`
        const today = new Date()
        seed = `` +
            today.getUTCFullYear() +
            String(today.getUTCMonth() + 1).padStart(2, '0') +
            String(today.getUTCDate()).padStart(2, '0') +
            version

        how = ` on ${DateFormatter.format(today)}`
    }



</script>

<svelte:head>
    <title>Jam With Us {how}</title> 
</svelte:head>



<TheJam 
    {how}
    {seed}
/>